* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  height: 100%;
  width: 100%;
}

/* 内容div样式 */
#q-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #6da0cd;
  display: flex;
  flex-direction: column;
}

/* 正在加载界面 */
.q-loading {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

/* 正在加载文字 */
.q-loading-error-text {
  font-size: 16px;
  color: white;
}

/* 头部样式 */
.q-header {
  padding: 20px;
  text-align: center;
  position: relative;
}

/* 头部文字样式 */
.q-header-text {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* 切换城市样式 */
.q-change-city-text {
  font-size: 10px;
  color: #f2f2f2;
  position: absolute;
  right: 10px;
  top: 25px;
}

/* 头部时间 */
.q-header-date {
  margin-top: 10px;
  text-align: center;
}

/* 头部时间文字 */
.q-header-date-text {
  font-size: 14px;
  color: white;
}

/* 详情 */
#q-detail {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

/* 详情左边界面 */
.q-detail-left {
  flex: 1;
  height: 200px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 详情图片 */
.q-detail-img {
  width: 130px;
  height: 130px;
}

/* 详情右边界面 */
.q-detail-right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 详情右边，左边界面 */
.q-detail-right-left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 温度文字 */
.q-temperature-text {
  font-size: 80px;
  font-weight: bold;
  color: white;
}

/* 天气文字 */
.q-weather-text {
  font-size: 16px;
  color: white;
}

/* 发布日期 */
.q-release-time-text {
  font-size: 14px;
  color: white;
  margin-top: 10px;
}

/* 温度单位 */
.q-unit-text {
  font-size: 16px;
  color: white;
  margin-top: 20px;
}

/* 列表 */
#q-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* 列表item */
.q-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  display: flex;
  align-items: center;
}

/* item通用文字样式 */
.q-item-common-text {
  font-size: 16px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

/* item中间图标 */
.q-item-center {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* item图片 */
.q-item-img {
  height: 30px;
  width: 30px;
}
