/* 对于应用来说，顶级 App 组件和布局组件中的样式可以是全局的，但是其它所有组件都应该是有作用域的。
  这条规则只和单文件组件有关。你不一定要使用 scoped 特性。设置作用域也可以通过 CSS Modules，那是一个基于 class 的类似 BEM 的策略，当然你也可以使用其它的库或约定。
  不管怎样，对于组件库，我们应该更倾向于选用基于 class 的策略而不是 scoped 特性。
  这让覆写内部样式更容易：使用了常人可理解的 class 名称且没有太高的选择器优先级，而且不太会导致冲突。
  
  参考：https://cn.vuejs.org/v2/style-guide/#%E4%B8%BA%E7%BB%84%E4%BB%B6%E6%A0%B7%E5%BC%8F%E8%AE%BE%E7%BD%AE%E4%BD%9C%E7%94%A8%E5%9F%9F-%E5%BF%85%E8%A6%81
*/

/* 跳转动画 参考：https://zh.nuxtjs.org/guide/routing */
.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

/* 页面样式 */
body {
  height: 100%;
  width: 100%;
}

/* 内容div样式 */
#q-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}

/* 正在加载界面 */
.q-loading {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

/* 正在加载文字 */
.q-loading-error-text {
  font-size: 16px;
  color: white;
}

/* 头部样式 */
.q-header {
  padding: 20px;
  text-align: center;
  position: relative;
}

/* 头部文字样式 */
.q-header-text {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* 切换城市样式 */
.q-change-city-text {
  font-size: 15px;
  color: #f2f2f2;
  position: absolute;
  right: 10px;
  top: 25px;
}

/* 记事本文本 */
.q-note-book-text {
  font-size: 15px;
  color: #f2f2f2;
  position: absolute;
  right: 10px;
  top: 60px;
}

/* 头部时间 */
.q-header-date {
  margin-top: 10px;
  text-align: center;
}

/* 头部时间文字 */
.q-header-date-text {
  font-size: 14px;
  color: white;
}

/* 详情 */
#q-detail {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

/* 详情左边界面 */
.q-detail-left {
  flex: 1;
  height: 200px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 详情图片 */
.q-detail-img {
  width: 130px;
  height: 130px;
}

/* 详情右边界面 */
.q-detail-right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* 详情右边，左边界面 */
.q-detail-right-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* 温度文字 */
.q-temperature-text {
  margin: 0px;
  font-size: 80px;
  font-weight: bold;
  color: white;
}

/* 天气文字 */
.q-weather-text {
  font-size: 16px;
  color: white;
}

/* 发布日期 */
.q-release-time-text {
  font-size: 14px;
  color: white;
  margin-top: 10px;
}

/* 温度单位 */
.q-unit-text {
  font-size: 16px;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}

/* 列表 */
#q-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* 列表外包组件样式 */
.q-item-container {
  display: flex;
  flex-direction: column;
}

/* 列表item */
.q-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  display: flex;
  align-items: center;
}

/* item通用文字样式 */
.q-item-common-text {
  font-size: 16px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

/* item中间图标 */
.q-item-center {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* item图片 */
.q-item-img {
  height: 30px;
  width: 30px;
}
