#todo {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 10
}

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: cadetblue;
  margin: 10px 40px 10px 40px;
  border-radius: 10px;
  color: white;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: white;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 10px; 
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.close-text {
  font-size: 16px;
  color: darkgrey;
}

.ok-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: cadetblue;
  margin: 20px 40px 20px 40px;
  border-radius: 10px;
  color: white;
}

.modal-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-color {
  margin: 20px;
}

.input-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: 'center';
  justify-content: center;
  margin-top: 20px;
}

.title-input {
  margin-left: 20px;
  height: 20px;
  width: 30%;
}

.desc-input {
  margin-left: 20px;
  height: 150px;
  width: 30%;
}

.submit-btn {
  background-color: cornflowerblue;
  width: 80%;
}

.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
